kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/run-1o2leupf.wandb
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/conda-environment.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/config.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/output.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/requirements.txt
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/wandb-metadata.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/files/wandb-summary.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/logs/debug-internal.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_104235-1o2leupf/logs/debug.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/run-rr4qjw0h.wandb
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/conda-environment.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/config.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/output.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/requirements.txt
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/wandb-metadata.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/files/wandb-summary.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/logs/debug-internal.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-rr4qjw0h/logs/debug.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/run-t7od68ss.wandb
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/conda-environment.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/config.yaml
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/output.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/requirements.txt
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/wandb-metadata.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/files/wandb-summary.json
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/logs/debug-internal.log
kaggle DL - MNIST & CIFAR10/wandb/run-20240906_112410-t7od68ss/logs/debug.log
kaggle DL - MNIST & CIFAR10/wandb-lightning/1o2leupf/checkpoints/epoch=8-step=180000.ckpt
kaggle DL - MNIST & CIFAR10/wandb-lightning/rr4qjw0h/checkpoints/epoch=1-step=33334.ckpt
kaggle DL - MNIST & CIFAR10/wandb-lightning/t7od68ss/checkpoints/epoch=1-step=33334.ckpt
flask/__pycache__/demo.cpython-312.pyc
flask/__pycache__/lab1_quickstart.cpython-312.pyc
flask/__pycache__/quickstart.cpython-312.pyc
kaggle DL - MNIST & CIFAR10/wandb/debug-cli.ajinkyak.log
kaggle DL - MNIST & CIFAR10/wandb/debug-internal.log
kaggle DL - MNIST & CIFAR10/wandb/debug.log
kaggle DL - MNIST & CIFAR10/wandb/latest-run
.DS_Store
